include core/mixins
include core/navbar

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include core/head
    body
        +Navbar('black')
        #particles-js
        section.pagetitle
            .container
                .breadcrumb
                    a(href="") Главная
                    a(href="") Пресс-центр
                    a(href="").active Презентации
                h1.title Контакты
                p.subtitle Вы можете связаться с нами, воспользовавшись формой обратной связи, либо по указанным контактным телефонам и адресу электронной почты.
        section.contacts-page
            .container.sm
                .contacts-wrapper
                    form.form-contacts
                        input(placeholder="Ваше имя")
                        input(placeholder="Ваш e-mail")
                        input(placeholder="Номер телефона")
                        input(placeholder="Номер телефона")
                        textarea(placeholder="Текст обращения")
                        button.btn-link.red.center Отправить
                    .info
                        .row
                            b Полное название компании:
                            span ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ «Р-ФАКТОР»
                        .row
                            b Генеральный директор:
                            span Иванько Владимир Сергеевич
                        .row
                            b Юридический адрес:
                            span 6286091, ХМАО-ЮГРА, г. Нижневартовск ул. Индустриальная, владение 65, строение 7
                        .row
                            b Телефон бухгалтерия:
                            span +7 (3466) 31-19-38
                        .row
                            b Телефон производство:
                            span +7 (3466) 31-19-37
                        .row
                            b E-mail:
                            span info@r-faktor.ru
        include core/footer
        include core/scripts