include core/mixins
include core/navbar

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include core/head
    body
        +Navbar()
        .page-nav
            button.nav.up
            .navs
                button(nav="section.screen.main").active
                button(nav="section.screen.second")
                button(nav="section.screen.products-carousel")
                button(nav="section.press-center")
                button(nav="section.projects")
            button.nav.down
        section.screen.main
            .bg-video
                video(src="http://braintechnology.ru/upload/iblock/ab1/pfy7kyurqygkjceh9wc3ggf3uddz334q.mp4" poster="http://braintechnology.ru/upload/iblock/b91/psl2q8jni1r90k9cq92jmg1o60660bmk.png" autoplay="" muted="" loop="")
            .content
                h1 Проектирование и изготовление технологического оборудования для нефтесервиса
                button.btn-video.video-link(data-video="http://braintechnology.ru/upload/iblock/ab1/pfy7kyurqygkjceh9wc3ggf3uddz334q.mp4")
                    img(src="/assets/images/icons/btn-video.png")
        section.screen.second
            .owl-carousel
                mixin CarouselItem()
                    .carousel-item
                        .logo-lines
                            .line
                            .line
                            .line
                        img.bg(src="/assets/images/bg/3.png")
                        .text
                            h2 География применения
                            a.more Подбробнее
                        .cursor
                +CarouselItem()
                +CarouselItem()
                +CarouselItem()
                +CarouselItem()
                +CarouselItem()
            .carousel-navs
                .current 1
                .line.sm
                .total 1
                .line.lg
                .btns
                    button.prev
                    button.next
        section.screen.products-carousel
            .logo-wrapper
                img(src="/assets/images/logo2.png")
            .carousel-navs.black
                .nav-title Продукция
                .line.lg
                .current 1
                .line.sm
                .total 1

                .btns
                    button.prev
                    button.next
            .owl-carousel
                mixin ProductItem(index)
                    .product-item
                        .text
                            p Опытно-конструкторские разработки завода «Р-Фактор» учитывают многолетний опыт мирового машиностроения по созданию лучших образцов нефтегазового оборудования, а собственное производство обеспечивает высокие показатели технического уровня, качества и надежности выпускаемой продукции.
                        .image
                            img(src="/assets/images/bg/car.png")
                        .text
                            .number= index
                            p Разработано и выпущено оборудования для ГРП
                +ProductItem(1)
                +ProductItem(2)
                +ProductItem(3)
                +ProductItem(4)
                +ProductItem(5)
                +ProductItem(6)
            .navs
                a(href="#" data-index="0").active Оборудование для ГРП
                a(href="#" data-index="1") Оборудование для заканчивания скважин
                a(href="#" data-index="2") Насосы плунжерные гидравлические
                a(href="#" data-index="3") Устьевое оборудование
                a(href="#" data-index="4") Переводники, муфты, патрубки
                a(href="#" data-index="5") Резино технические изделия
        section.press-center
            .carousel-navs
                .nav-title Пресс-центр
                .line.lg
                .current 1
                .line.sm
                .total 1
                .btns
                    button.prev
                    button.next
            .press-wrapper.owl-carousel
                mixin PressItem()
                    .item
                        .text
                            .date
                                |Сентябрь
                                .year 2023
                            .item-title Заголовок материала в две строки, можно и в три строки, можно и в четыре
                            a.more(href="#") Новости компании
                        img.bg(src="/assets/images/bg/news-bg.jpg")
                +PressItem()
                +PressItem()
                +PressItem()
                +PressItem()
                +PressItem()
                +PressItem()
        section.projects
            .carousel-navs
                .nav-title Реализованные проекты
                .line.lg
                .current 1
                .line.sm
                .total 1
                .btns
                    button.prev
                    button.next
            .project-wrapper.owl-carousel
                mixin ProjectItem()
                    a(href="#").item
                        img.bg(src="/assets/images/bg/project-bg.jpg")
                        .text
                            img.logo-marker(src="/assets/images/logo3.png")
                            span.more Узнать подробнее
                        .logo-lines
                            .line
                            .line
                            .line
                +ProjectItem()
                +ProjectItem()
                +ProjectItem()
                +ProjectItem()
        include core/footer

        include core/scripts