include core/mixins
include core/navbar

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include core/head
    body
        +Navbar('black')
        #particles-js
        section.pagetitle.sm
            .container
                .breadcrumb
                    a(href="") Главная
                    a(href="") Пресс-центр
                    a(href="").active Презентации
                h1.title Политика в области качества
                p.subtitle Компания «Р-Фактор» была создана в декабре 2010 г и специализируется на производстве и ремонте оборудования для ГРП и заканчивания скважин. Имеющиеся в распоряжении компании производственные площади, технологическое, станочное и крановое оборудование позволяют изготавливать различные механизмы и детали, в том числе нестандартные, с большим объемом механической обработки.
        section.page
            img.banner(src="/assets/images/banner/2.jpg")
            .container
                .page-text
                    p
                        b Стратегия ООО «Р-Фактор в области качества
                        |, заключается в поиске индивидуальных решений любых производственных задач, определении и выполнении требований потребителей для повышения их удовлетворенности. Конструкторский отдел ООО «Р-Фактор» постоянно работает над усовершенствованием конструкции и технологии изготовления выпускаемой продукции. Творческий потенциал и техническая оснащенность Компании стимулируют появление новой конкурентоспособной продукции. Соответствие требованиям и постоянное повышение результативности системы менеджмента качества согласно ISO 9001.
                    p
                        b Руководство ООО «Р-Фактор» определяет политику в области качества исходя из основных целей, а именно:
                    ul
                        li проектирование, изготовление, поставка и сервисное обслуживание технологического оборудования для ГРП и заканчивания скважин, удовлетворяющего запросы и ожидания потребителей и обеспечивающего стабильное финансовое положение Компании;
                        li выполнение работ, оказание услуг и выпуск продукции высокого качества при минимальном воздействии на окружающую среду и соблюдение безопасных условий труда рабочего персонала;
                        li установление долгосрочных партнерских отношений с Потребителями;
                        li обеспечение устойчивого экономического развития Компании;
                        li сохранение трудового коллектива, поддержание благоприятного психологического климата, способствующего своевременному выявлению проблем и эффективному решению любых управленческих, технических и производственных задач.
                    p
                        b Для реализации Политики в области качества руководством определены основные направления:
                    ul
                        li систематический анализ текущих и перспективных требований и ожиданий потребителей, поставщиков, партнеров, трудового коллектива и других заинтересованных сторон;
                        li обеспечение постоянного и всестороннего мониторинга и анализа внешних и внутренних факторов, влияющих на принятие стратегических решений ООО «Р-Фактор»;
                        li управление процессами создания продукции в соответствии с установленными требованиями;
                        li создание эффективной системы выбора и развития поставщиков, основанной на принципах взаимной выгоды и постоянного совершенствования, а также выстраивание с ними прозрачных, стабильных и долговременных отношений;
                        li совершенствование лидерских качеств руководителей всех уровней и развитие командной работы по обеспечению качества продукции;
                        li создание благоприятной среды, способствующей вовлечению каждого работника в процесс постоянного улучшения качества выпускаемой продукции, систематическое обучение и развитие персонала;
                        li управление качеством продукции в процессе производства;
                        li использование принципа процессного подхода ко всем видам деятельности;
                        li направление усилий на снижение рисков и использование возможностей, связанных со средой Компании и целями процессов менеджмента качества, в целях улучшения качества продукции с учетом потребностей и ожиданий Потребителей;
                        li повышение результативности продаж, обеспечение постоянной прибыли за счет расширения доли рынка, минимизации издержек и четко выстроенных, понятных бизнес-процессов.
                    p Руководство ООО «Р-Фактор» берет на себя ответственность за формирование корпоративной культуры и реализацию Политики в области качества, результативное функционирование и постоянное улучшение интегрированной системы менеджмента.
                    p Руководство ООО «Р-Фактор» личным примером вовлекает работников в постоянное улучшение качества выполняемой ими работы и способствует активному участию в реализации Политики. Понимание и выполнение положений данной Политики является обязанностью работников Компании.
        include core/footer
        include core/scripts