include core/mixins
include core/navbar

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include core/head
    body
        +Navbar('black')
        #particles-js
        section.pagetitle.sm
            .container
                .breadcrumb
                    a(href="") Главная
                    a(href="") Пресс-центр
                    a(href="").active Презентации
                h1.title Корпоративная социальная ответственность
                p.subtitle Квалифицированные сотрудники, нацеленные на постоянное совершенствование, без преувеличения, — золотой фонд завода «Р-Фактор», который держит курс на развитие и модернизацию производства, расширение рынка сбыта и повышение качества выпускаемой продукции.
        section.page
            img.banner(src="/assets/images/banner/4.jpg")
            .container
                .page-text
                    p С момента создания завода численность сотрудников выросла в 10 раз. На данный момент в организации трудятся 120 человек, средний возраст работников составляет 35 лет. Значимую роль в компании отводят подбору персонала – на заводе работают высококвалифицированные профессионалы своего дела, 61% сотрудников имеют высшее образование, 35% - средне-специальное.
                    p Для руководства завода очень важно непрерывное повышение уровня профессионального образования и компетенций сотрудников, поэтому ежегодно не менее 60% коллектива проходит обучающие курсы, что помогает компании увеличивать эффективность производственных процессов за счет повышения квалификации персонала.
                    p Для комфорта сотрудников руководство завода обеспечивает социально-бытовые условия: предоставляются обустроенные места для проживания, оплачиваются питание и проезд от места проживания до места работы и обратно. Большое внимание предприятие уделяет современной экипировке персонала: спецодежда и средства индивидуальной защиты закупаются только у проверенных поставщиков. В компании проводится активная работа с молодежью, привлекаются студенты технических вузов и ссузов страны для прохождения производственных и преддипломных практик. В ближайшее время планируется реализация проекта «Первый шаг», в рамках которого ведущие специалисты завода проведут ознакомительные лекции о деятельности предприятия и поделятся своим профессиональным опытом со студентами учебных заведений города Нижневартовска. Также совместно с преподавателями будут проведены тематические квесты, цель которых – познакомить ребят с производственными процессами и заинтересовать будущим трудоустройством в ООО «Р-Фактор».
        section.media-center
            .carousel-navs
                .nav-title Медиа центр
                .line.lg
            .container
                .media-grid
                    a(href="#").item
                        .img
                            img(src="/assets/images/media/1.jpg")
                        .item-title Интервью с генеральным директором о проводимой на заводе работе с персоналом
                    a(href="#").item
                        .img
                            img(src="/assets/images/media/1.jpg")
                        .item-title Интервью с генеральным директором о проводимой на заводе работе с персоналом
                    a(href="#").item
                        .img
                            img(src="/assets/images/media/1.jpg")
                        .item-title Интервью с генеральным директором о проводимой на заводе работе с персоналом
                    a(href="#").item
                        .img
                            img(src="/assets/images/media/1.jpg")
                        .item-title Интервью с генеральным директором о проводимой на заводе работе с персоналом
        include core/footer
        include core/scripts