include core/mixins
include core/navbar

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include core/head
    body
        +Navbar('black')
        #particles-js
        section.pagetitle.sm
            .container
                .breadcrumb
                    a(href="") Главная
                    a(href="") Пресс-центр
                    a(href="").active Презентации
                h1.title Промышленная безопасность и охрана труда
                p.subtitle Руководство ООО «Р-Фактор» осознает, что осуществляемая деятельность компании, связанная с производством и обслуживанием оборудования для ГРП и заканчивания скважин, не должна отрицательно влиять на здоровье персонала и должна обеспечивать приемлемые риски для осуществления всех выполняемых работ.
        section.page
            img.banner(src="/assets/images/banner/3.jpg")
            .container
                .page-text
                    p
                        b Стратегия ООО «Р-Фактор» в области охраны здоровья и безопасности труда
                        | заключается в минимизации негативного воздействия производства на здоровье персонала, обеспечении безопасных условий труда и рациональном использовании ресурсов на всех стадиях производственного процесса.
                    p
                        b Деятельность ООО «Р-Фактор» основывается на принципах:
                    ul
                        li приоритетным принципом является сохранение жизни и здоровья сотрудников - главной ценности организации;
                        li применение современных способов и методов охраны здоровья и безопасности труда, обеспечивающих достижение и поддержание на уровне, требуемом законодательством;
                        li установление приоритета действий, направленных на предупреждение опасного воздействия на человека, включая предотвращение травм и ухудшение состояния здоровья персонала;
                        li постоянной готовности к предотвращению и ликвидации последствий происшествий, инцидентов, аварий и иных чрезвычайных ситуаций;
                        li применение комплексного подхода обеспечения охраны здоровья и безопасности труда, основанного на современных концепциях анализа рисков и ущербов;
                        li соответствие деятельности законодательства, нормативным требованиям в области охраны здоровья и безопасности труда, требованиям международного стандарта ISO 45001;
                        li ответственность руководства и персонала ООО «Р-Фактор» за нанесение ущерба здоровью человека в процессе своей деятельности.
                    p
                        b Для реализации Политики в области охраны здоровья и безопасности труда руководством определены основные направления:
                    ul
                        li внедрение новых технологий и оборудования, направленных на рациональное обеспечение повышения уровня безопасности и улучшения условий труда в целях сохранения здоровья персонала;
                        li проведение оценки всех возможных рисков на рабочих местах с целью выявления возможных и реальных опасностей, а также обеспечение эффективного управления рисками в соответствии с утвержденными процедурами;
                        li обеспечение постоянного и всестороннего мониторинга и анализа рисков, идентифицированных опасностей для прогнозирования и обеспечения безопасности труда в организации;
                        li выделение необходимых ресурсов для обеспечения охраны здоровья и безопасности труда;
                        li создание среды, обеспечивающей необходимый уровень готовности сил и средств для предотвращения и ликвидации последствий аварий, происшествий, инцидентов и других чрезвычайных ситуаций;
                        li проведение специальной оценки условий труда;
                        li привлечение сотрудников к активному участию в деятельности по охране здоровья и безопасности труда, а также создание условий, включающих разработку методов мотивации, при которых каждый работник осознает ответственность за собственную безопасность и безопасность окружающих его людей;
                        li постоянное совершенствование профессиональных навыков специалистов ООО «Р-Фактор» в сфере охраны здоровья и безопасности труда.
                    p Руководство ООО «Р-Фактор» берет на себя ответственность за формирование корпоративной культуры и реализацию Политики в области охраны здоровья и безопасности труда, результативное функционирование и постоянное улучшение интегрированной системы менеджмента.
                    p Руководство и сотрудники ООО «Р-Фактор» принимают на себя обязательство обеспечить реализацию данной Политики в области охраны здоровья и безопасности труда.
        include core/footer
        include core/scripts