section.partners
    .marquee3k(data-speed="0.25" data-pausable="false")
        .partners-list
            img(src="/assets/images/partners/1.png")
            img(src="/assets/images/partners/2.png")
            img(src="/assets/images/partners/3.png")
            img(src="/assets/images/partners/4.png")
            img(src="/assets/images/partners/5.png")
            img(src="/assets/images/partners/6.png")
            img(src="/assets/images/partners/7.png")
            img(src="/assets/images/partners/8.png")
            img(src="/assets/images/partners/9.png")
            img(src="/assets/images/partners/10.png")
            img(src="/assets/images/partners/11.png")
            img(src="/assets/images/partners/12.png")
footer
    .col
        img.logo-marker(src="/assets/images/logo4.png")
        a.contacts-link(href="tel:+7 (3466) 311-926") +7 (3466) 311-926
        a.contacts-link(href="mailto:info@r-faktor.ru") info@r-faktor.ru
        a.btn-link(href="#")
            |Сотрудничать
            img(src="/assets/images/icons/arrow.png")
    .col
        a.menu-title(href="#") Компания
        a.menu-link(href="#") О компании
        a.menu-link(href="#") Производственные мощности
        a.menu-link(href="#") Корпоративная культура
        a.menu-link(href="#") Вакансии
        a.menu-link(href="#") Пресс-центр
        a.menu-link(href="#") Отзывы
    .col
        a.menu-title(href="#") Продукция
        a.menu-link(href="#") Оборудование для ГРП
        a.menu-link(href="#") Оборудование для заканчивания скважин
        a.menu-link(href="#") Насосы плунжерные гидравлические
        a.menu-link(href="#") Устьевое оборудование
        a.menu-link(href="#") Переводники, муфты, патрубки
        a.menu-link(href="#") Резино технические изделия
    .col
        a.policy Ограничение ответственности
        .soc-list
            a.link(target="_black" href="#")
                img(src="/assets/images/icons/soc/dzen.png")
            a.link(target="_black" href="#")
                img(src="/assets/images/icons/soc/rutube.png")
            a.link(target="_black" href="#")
                img(src="/assets/images/icons/soc/tg.png")
            a.link(target="_black" href="#")
                img(src="/assets/images/icons/soc/vk.png")
        span (с) 2023 ООО «Р-Фактор»
        button.btn-up